@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Audiowide);

html, body, form, fieldset {
    margin:0;
    padding:0;
	margin-top: 25px;
    font-size: 13px;
	line-height: 20px;
    font-family: 'Ubuntu', Geneva, sans-serif;
	/*background-image:url('pics/bg1.png');*/
	background-color: #232323; 
    background-repeat: repeat-x;
	overflow: hidden;
	color: #eeeeee;
	
	}

#container{
	width: 820px;
	height: 780px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding:5px;
	
	background-image: url('/img/ohjaamol.png');
	background-repeat: no-repeat; 
	background-color: #121212;

}

#maskdiv{
	margin-left: auto;
    margin-right: auto;
	
	position: relative; 
	width: 640px; 
	height: 480px; 
	overflow: hidden;
	background-image:url('/img/background.jpg');
	background-position: bottom;
}

#helpdiv{
	width:170px;
	margin-left: 230px;
	padding-top: 40px;
	font-family: 'Audiowide', cursive;
	font-size: 14px;
	color: #32b0bf;
	float: left;
}

#statusdiv{
	width: 170px;
	padding-top: 40px;
	margin-right: 200px;
    font-family: 'Audiowide', cursive;
    font-size: 14px;
    color: #32b0bf;

	float: right;
	text-align: left;
}

h1.title{
	margin-left: 100px;
	margin-bottom: 40px;
	padding-top:20px;
	font-size: 30px;
	font-family: 'Audiowide', cursive;
	color: #8445bb;
}



